header img{
    height: 100px;
}
header{
    text-align: center;
}
nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color:grey;
    padding: 5px 15px;
    font-size: 16px;
}
nav a:hover{
    color:black;
}
